# Importing Data

In [1]:
from pymongo import MongoClient
import pandas as pd
import numpy as np
import nltk

In [2]:
client = MongoClient("mongodb+srv://salimkilinc:istdsa04@cluster0.kq2kcbc.mongodb.net/?retryWrites=true&w=majority")
client.test

Database(MongoClient(host=['ac-nibqffz-shard-00-02.kq2kcbc.mongodb.net:27017', 'ac-nibqffz-shard-00-00.kq2kcbc.mongodb.net:27017', 'ac-nibqffz-shard-00-01.kq2kcbc.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-r1v9qg-shard-0', tls=True), 'test')

In [3]:
client.list_database_names()

['tripadvisor', 'admin', 'local']

In [4]:
db = client.tripadvisor

In [5]:
db.list_collection_names()

['reviews']

In [6]:
collection = db.get_collection('reviews')
collection

Collection(Database(MongoClient(host=['ac-nibqffz-shard-00-02.kq2kcbc.mongodb.net:27017', 'ac-nibqffz-shard-00-00.kq2kcbc.mongodb.net:27017', 'ac-nibqffz-shard-00-01.kq2kcbc.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-r1v9qg-shard-0', tls=True), 'tripadvisor'), 'reviews')

In [7]:
df = pd.DataFrame(list(collection.find()))
df

,_id,review
0,65496e562042bfa2da026b54,Having lived in the Bay Area for 30+ years I r...
1,65496e562042bfa2da026b55,"Long time diner, first time reviewer. I’ve bee..."
2,65496e562042bfa2da026b56,"The view, the staff, the ceviche and the fish ..."
3,65496e562042bfa2da026b57,My brother-in-law loves Fish and Chips. We he...
4,65496e562042bfa2da026b58,The food is always great! I always start with ...
...,...,...
3419,65496e5b2042bfa2da0278af,"If your looking for great food, the best servi..."
3420,65496e5b2042bfa2da0278b0,"If you come alone, you won't feel alone for ve..."
3421,65496e5b2042bfa2da0278b1,Rather than spend an hour in grid lock of the ...
3422,65496e5b2042bfa2da0278b2,"Good, solid, old school Mexican food at a very..."
3423,65496e5b2042bfa2da0278b3,Best Mexican food in Marin; lots of American f...

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3424 entries, 0 to 3423
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     3424 non-null   object
 1   review  3424 non-null   object
dtypes: object(2)
memory usage: 53.6+ KB

# Preprocessing

**Removal of HTML Tags, Alphanumeric, Punctuation, and Extra Spaces**

In [9]:
import re
import string

df['review'] = df['review'].str.replace("<br />","")
df['review'] = df['review'].str.replace("\n\n","")
df['review'] = df['review'].str.replace("…"," ")

alphanumeric = lambda x: re.sub('\w*\d\w*', ' ', x)
punc_lower = lambda x: re.sub('[%s]' % re.escape(string.punctuation), ' ', x.lower())
single_spaces = lambda x: re.sub(' +', ' ', x)

df['review'] = df.review.map(alphanumeric).map(punc_lower).map(single_spaces)
df

,_id,review
0,65496e562042bfa2da026b54,having lived in the bay area for years i regre...
1,65496e562042bfa2da026b55,long time diner first time reviewer i’ve been ...
2,65496e562042bfa2da026b56,the view the staff the ceviche and the fish ch...
3,65496e562042bfa2da026b57,my brother in law loves fish and chips we hear...
4,65496e562042bfa2da026b58,the food is always great i always start with t...
...,...,...
3419,65496e5b2042bfa2da0278af,if your looking for great food the best servic...
3420,65496e5b2042bfa2da0278b0,if you come alone you won t feel alone for ver...
3421,65496e5b2042bfa2da0278b1,rather than spend an hour in grid lock of the ...
3422,65496e5b2042bfa2da0278b2,good solid old school mexican food at a very f...
3423,65496e5b2042bfa2da0278b3,best mexican food in marin lots of american fo...

**Removal of Repeating Letters**

In [10]:
df.review[0]

'having lived in the bay area for years i regret not finding out about this place sooner treasure island has such unique views of the sf skyline from the waterfront to the golden gate bridge all the way around to the bay bridge mersea has a super laid back vibe with incredible food and drinks and the most outrageous view of the sf skyline a full degree water view with floor to ceiling windows daniel makes an incredible manhattan and the poke was super fresh meesun was an amazing hostess and made sure we ordered all the house specials truffle fries fish and chips etc etc mmmmm we will definitely be back soon more'

In [11]:
def remove_repeating_letters(s):
    words = s.split()
    result = []
    for word in words:
        new_word = re.sub(r'(.)\1{2,}', r'\1', word)
        result.append(new_word)
    return ' '.join(result)

df['review'] = df['review'].map(remove_repeating_letters)

In [12]:
df.review[0]

'having lived in the bay area for years i regret not finding out about this place sooner treasure island has such unique views of the sf skyline from the waterfront to the golden gate bridge all the way around to the bay bridge mersea has a super laid back vibe with incredible food and drinks and the most outrageous view of the sf skyline a full degree water view with floor to ceiling windows daniel makes an incredible manhattan and the poke was super fresh meesun was an amazing hostess and made sure we ordered all the house specials truffle fries fish and chips etc etc m we will definitely be back soon more'

**Removal of Emojis**

In [13]:
df.review[962]

'food ⭐️⭐️⭐️⭐️ no frills service ⭐️⭐️⭐️waiter was good hostess not friendly nostalgic place with straight up good bbq'

In [14]:
import emoji

df['review'] = df['review'].apply(lambda x: emoji.replace_emoji(x, replace=''))
df['review'] = df.review.map(single_spaces)

In [15]:
df.review[962]

'food no frills service waiter was good hostess not friendly nostalgic place with straight up good bbq'

**Dropping Rows which contain Non-English Text**

In [16]:
df.review[232]

'三藩市食海鮮出名相信大家都知，而佢其中一個名菜就一定係cioppino 意大利番茄海鮮湯，當年有好多意大利移民咗嚟三藩市做漁夫，如果某啲漁夫嗰日冇收穫，佢就會拎個煲，問其他漁夫將嗰日賣剩嘅海鮮俾佢，番到屋企加埋蕃茄同酒去煮湯俾屋企人做晚餐，絕對係充滿義氣同愛嘅故事！呢間anchor oyster bar個cioppino好足料同鮮味，啱哂點包食！佢其他生蠔同海鮮都好新鮮㗎！\u2063cioppino is one of the staple foods in san francisco it was developed in the late by italian migrant fishermen the cioppino in anchor oyster bar was amazing and super flavourful of course the oysters were very fresh as well \u2063'

In [17]:
import langid

df['language'] = df['review'].apply(lambda x: langid.classify(x)[0])
df

,_id,review,language
0,65496e562042bfa2da026b54,having lived in the bay area for years i regre...,en
1,65496e562042bfa2da026b55,long time diner first time reviewer i’ve been ...,en
2,65496e562042bfa2da026b56,the view the staff the ceviche and the fish ch...,en
3,65496e562042bfa2da026b57,my brother in law loves fish and chips we hear...,en
4,65496e562042bfa2da026b58,the food is always great i always start with t...,en
...,...,...,...
3419,65496e5b2042bfa2da0278af,if your looking for great food the best servic...,en
3420,65496e5b2042bfa2da0278b0,if you come alone you won t feel alone for ver...,en
3421,65496e5b2042bfa2da0278b1,rather than spend an hour in grid lock of the ...,en
3422,65496e5b2042bfa2da0278b2,good solid old school mexican food at a very f...,en
3423,65496e5b2042bfa2da0278b3,best mexican food in marin lots of american fo...,en

In [18]:
df.language.value_counts()

en    3417
zh       2
la       2
de       2
sl       1
Name: language, dtype: int64

In [19]:
df[df['language'] != 'en']

,_id,review,language
232,65496e562042bfa2da026c3c,三藩市食海鮮出名相信大家都知，而佢其中一個名菜就一定係cioppino 意大利番茄海鮮湯，當...,zh
662,65496e562042bfa2da026dea,we re glad you enjoyed your evening,sl
773,65496e562042bfa2da026e59,。baja california benedict 。cafe latte 。hot cho...,zh
802,65496e562042bfa2da026e76,appetizers 。french onion soup 。escargots de bo...,la
894,65496e562042bfa2da026ed2,。prosciutto 。cokepizza is fresh and good servi...,la
1456,65496e592042bfa2da027104,thanks so much ian best rich t,de
2188,65496e5a2042bfa2da0273e0,xie xie,de

In [20]:
df = df[df['language'] == 'en']
df.reset_index(drop=True, inplace=True)
df.drop(columns='language', inplace=True)
df

/var/folders/6z/81ycht5s235dy_6ymmclw8p00000gn/T/ipykernel_6102/1702009277.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns='language', inplace=True)

,_id,review
0,65496e562042bfa2da026b54,having lived in the bay area for years i regre...
1,65496e562042bfa2da026b55,long time diner first time reviewer i’ve been ...
2,65496e562042bfa2da026b56,the view the staff the ceviche and the fish ch...
3,65496e562042bfa2da026b57,my brother in law loves fish and chips we hear...
4,65496e562042bfa2da026b58,the food is always great i always start with t...
...,...,...
3412,65496e5b2042bfa2da0278af,if your looking for great food the best servic...
3413,65496e5b2042bfa2da0278b0,if you come alone you won t feel alone for ver...
3414,65496e5b2042bfa2da0278b1,rather than spend an hour in grid lock of the ...
3415,65496e5b2042bfa2da0278b2,good solid old school mexican food at a very f...
3416,65496e5b2042bfa2da0278b3,best mexican food in marin lots of american fo...

**Detection of Encoding**

In [21]:
import chardet

column_name = 'review'

def detect_encoding(text):
    result = chardet.detect(text.encode())
    return result['encoding'], result['confidence']

encoding_results = df[column_name].apply(detect_encoding)

encoding_df = pd.DataFrame(encoding_results.tolist(), columns=['Detected Encoding', 'Confidence'])

df = pd.concat([df, encoding_df], axis=1)

df

,_id,review,Detected Encoding,Confidence
0,65496e562042bfa2da026b54,having lived in the bay area for years i regre...,ascii,1.00
1,65496e562042bfa2da026b55,long time diner first time reviewer i’ve been ...,Windows-1252,0.73
2,65496e562042bfa2da026b56,the view the staff the ceviche and the fish ch...,ascii,1.00
3,65496e562042bfa2da026b57,my brother in law loves fish and chips we hear...,ascii,1.00
4,65496e562042bfa2da026b58,the food is always great i always start with t...,ascii,1.00
...,...,...,...,...
3412,65496e5b2042bfa2da0278af,if your looking for great food the best servic...,ascii,1.00
3413,65496e5b2042bfa2da0278b0,if you come alone you won t feel alone for ver...,ascii,1.00
3414,65496e5b2042bfa2da0278b1,rather than spend an hour in grid lock of the ...,ascii,1.00
3415,65496e5b2042bfa2da0278b2,good solid old school mexican food at a very f...,ascii,1.00
3416,65496e5b2042bfa2da0278b3,best mexican food in marin lots of american fo...,ascii,1.00

In [22]:
df['Detected Encoding'].value_counts()

ascii           2615
utf-8            409
Windows-1252     361
ISO-8859-1        32
Name: Detected Encoding, dtype: int64

In [23]:
df['review'] = df['review'].str.replace('[^a-zA-Z\s]', '', regex=True)

In [24]:
df[df['Detected Encoding'] != 'ascii']

,_id,review,Detected Encoding,Confidence
1,65496e562042bfa2da026b55,long time diner first time reviewer ive been c...,Windows-1252,0.730000
7,65496e562042bfa2da026b5b,we had a spectacular day at mersea yesterday i...,utf-8,0.876250
10,65496e562042bfa2da026b5e,we chose to eat here based off previous star r...,Windows-1252,0.730000
12,65496e562042bfa2da026b60,what an amazing experience we had at mersea im...,utf-8,0.990000
28,65496e562042bfa2da026b70,camilla is great as always we were just here t...,Windows-1252,0.730000
...,...,...,...,...
3391,65496e5b2042bfa2da02789a,the view is worth the price the food and servi...,Windows-1252,0.730000
3394,65496e5b2042bfa2da02789d,my first time visiting this restaurant while s...,utf-8,0.876250
3399,65496e5b2042bfa2da0278a2,we had a great late lunch at skates before mov...,utf-8,0.938125
3401,65496e5b2042bfa2da0278a4,my wife and i were here on a business trip and...,utf-8,0.752500
3410,65496e5b2042bfa2da0278ad,stopped here last night after a touristy day i...,Windows-1252,0.730000

In [25]:
df.drop(columns=['Detected Encoding', 'Confidence'], inplace=True)
df

,_id,review
0,65496e562042bfa2da026b54,having lived in the bay area for years i regre...
1,65496e562042bfa2da026b55,long time diner first time reviewer ive been c...
2,65496e562042bfa2da026b56,the view the staff the ceviche and the fish ch...
3,65496e562042bfa2da026b57,my brother in law loves fish and chips we hear...
4,65496e562042bfa2da026b58,the food is always great i always start with t...
...,...,...
3412,65496e5b2042bfa2da0278af,if your looking for great food the best servic...
3413,65496e5b2042bfa2da0278b0,if you come alone you won t feel alone for ver...
3414,65496e5b2042bfa2da0278b1,rather than spend an hour in grid lock of the ...
3415,65496e5b2042bfa2da0278b2,good solid old school mexican food at a very f...
3416,65496e5b2042bfa2da0278b3,best mexican food in marin lots of american fo...

**Lemmatizing and Filtering Only English Words**

In [26]:
from nltk.stem import WordNetLemmatizer

nltk.download('wordnet')

lemmatizer = WordNetLemmatizer()

def lemmatize_word(word):
    return lemmatizer.lemmatize(word, pos='n')

df['review'] = df['review'].apply(lambda x: ' '.join([lemmatize_word(word) for word in x.split()]))
df

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/salimkilinc/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,_id,review
0,65496e562042bfa2da026b54,having lived in the bay area for year i regret...
1,65496e562042bfa2da026b55,long time diner first time reviewer ive been c...
2,65496e562042bfa2da026b56,the view the staff the ceviche and the fish ch...
3,65496e562042bfa2da026b57,my brother in law love fish and chip we heard ...
4,65496e562042bfa2da026b58,the food is always great i always start with t...
...,...,...
3412,65496e5b2042bfa2da0278af,if your looking for great food the best servic...
3413,65496e5b2042bfa2da0278b0,if you come alone you won t feel alone for ver...
3414,65496e5b2042bfa2da0278b1,rather than spend an hour in grid lock of the ...
3415,65496e5b2042bfa2da0278b2,good solid old school mexican food at a very f...
3416,65496e5b2042bfa2da0278b3,best mexican food in marin lot of american foo...

In [27]:
def lemmatize_and_filter(word):
    lemma = lemmatizer.lemmatize(word, pos='n')
    return lemma if lemma in set(nltk.corpus.words.words()) else ''

df['lem_review'] = df['review'].apply(lambda x: ' '.join([lemmatize_and_filter(word) for word in x.split()]))
df

,_id,review,lem_review
0,65496e562042bfa2da026b54,having lived in the bay area for year i regret...,lived in the bay area for year i regret not f...
1,65496e562042bfa2da026b55,long time diner first time reviewer ive been c...,long time diner first time reviewer been comi...
2,65496e562042bfa2da026b56,the view the staff the ceviche and the fish ch...,the view the staff the and the fish chip were...
3,65496e562042bfa2da026b57,my brother in law love fish and chip we heard ...,my brother in law love fish and chip we that ...
4,65496e562042bfa2da026b58,the food is always great i always start with t...,the food is always great i always start with t...
...,...,...,...
3412,65496e5b2042bfa2da0278af,if your looking for great food the best servic...,if your looking for great food the best servic...
3413,65496e5b2042bfa2da0278b0,if you come alone you won t feel alone for ver...,if you come alone you won t feel alone for ver...
3414,65496e5b2042bfa2da0278b1,rather than spend an hour in grid lock of the ...,rather than spend an hour in grid lock of the ...
3415,65496e5b2042bfa2da0278b2,good solid old school mexican food at a very f...,good solid old school food at a very fair pri...
3416,65496e5b2042bfa2da0278b3,best mexican food in marin lot of american foo...,best food in lot of food choice too best lu...

In [28]:
df.review[1764]

'lolo is extremely charming and one of a kind it cozy vibe is only surpassed by it fantastic brunch the food is an inventive take on traditional mexican with delicious cocktail the service is unsurpassed especially if you get sebastian'

In [29]:
df.lem_review[1764]

' is extremely charming and one of a kind it cozy  is only  by it fantastic brunch the food is an inventive take on traditional  with delicious cocktail the service is unsurpassed especially if you get '

In [30]:
from nltk.corpus import words
words.readme()

'Wordlists\n\nen: English, http://en.wikipedia.org/wiki/Words_(Unix)\nen-basic: 850 English words: C.K. Ogden in The ABC of Basic English (1932)\n'

In [31]:
len(words.words())

236736

In [44]:
"linen" in words.words()

True

In [33]:
df.review[1764]

'lolo is extremely charming and one of a kind it cozy vibe is only surpassed by it fantastic brunch the food is an inventive take on traditional mexican with delicious cocktail the service is unsurpassed especially if you get sebastian'

In [34]:
df.review[3415]

'good solid old school mexican food at a very fair price good enchilada along with with some cabo inspired fish taco excellent guacamole and the beer price say we value you a a customer a great value and a welcoming place where the food is quite good it is much better than the other mexican place in town particularly the over priced and over touristy copitas we come here every few week and have always had a good meal more'

In [35]:
df.review[3412]

'if your looking for great food the best service and a great bartender look no further stop into saylors restaurant fajitas taco burrito and margarita are the to do for my family go here regularly and this fun atmosphere make the entire dining experience wonderful and it s affordable more'

In [36]:
df.sample(10)

,_id,review,lem_review
1121,65496e592042bfa2da026fba,we waited minute to get a table which wa no pr...,we minute to get a table which wa no problem ...
1232,65496e592042bfa2da027029,the quality of yum cha dim sim were good examp...,the quality of cha dim were good example are...
3384,65496e5b2042bfa2da027893,this restaurant is located on main street and ...,this restaurant is on main street and ha pati...
402,65496e562042bfa2da026ce7,my spouse and i came here to take advantage of...,my spouse and i came here to take advantage of...
2117,65496e5a2042bfa2da02739f,when we stopped in without a reservation befor...,when we stopped in without a reservation befor...
2716,65496e5a2042bfa2da0275f7,this is an excellent irish bar in a very popul...,this is an excellent bar in a very popular ar...
945,65496e562042bfa2da026f0a,we love ideale this is our go to place when in...,we love this is our go to place when in doubt...
2440,65496e5a2042bfa2da0274e3,good ok steakhouse with good seat too empty fo...,good with good seat too empty for the seat t...
1862,65496e592042bfa2da0272a0,really enjoyed this restaurant friendly staff ...,really this restaurant friendly staff and del...
1629,65496e592042bfa2da0271b7,the lamb kebab were generous in size and delic...,the lamb kebab were generous in size and delic...

In [38]:
df

,_id,review,lem_review
0,65496e562042bfa2da026b54,having lived in the bay area for year i regret...,lived in the bay area for year i regret not f...
1,65496e562042bfa2da026b55,long time diner first time reviewer ive been c...,long time diner first time reviewer been comi...
2,65496e562042bfa2da026b56,the view the staff the ceviche and the fish ch...,the view the staff the and the fish chip were...
3,65496e562042bfa2da026b57,my brother in law love fish and chip we heard ...,my brother in law love fish and chip we that ...
4,65496e562042bfa2da026b58,the food is always great i always start with t...,the food is always great i always start with t...
...,...,...,...
3412,65496e5b2042bfa2da0278af,if your looking for great food the best servic...,if your looking for great food the best servic...
3413,65496e5b2042bfa2da0278b0,if you come alone you won t feel alone for ver...,if you come alone you won t feel alone for ver...
3414,65496e5b2042bfa2da0278b1,rather than spend an hour in grid lock of the ...,rather than spend an hour in grid lock of the ...
3415,65496e5b2042bfa2da0278b2,good solid old school mexican food at a very f...,good solid old school food at a very fair pri...
3416,65496e5b2042bfa2da0278b3,best mexican food in marin lot of american foo...,best food in lot of food choice too best lu...

In [41]:
df.to_csv('trip_advisor_reviews.csv', index=False)