In [1]:
import nltk
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('trip_advisor_reviews_2.csv')
df

,_id,review,lem_review,sw_review,mod_review,new_review,new_lem_review
0,65496e562042bfa2da026b54,having lived in the bay area for year i regret...,lived in the bay area for year i regret not f...,lived bay area year regret finding place soone...,lived bay area year regret finding place soone...,lived bay area year regret finding place soone...,live bay area year regret find place treasure ...
1,65496e562042bfa2da026b55,long time diner first time reviewer ive been c...,long time diner first time reviewer been comi...,long time diner time reviewer coming year impr...,long time diner time reviewer coming year impr...,long time diner time reviewer coming year impr...,long time diner time reviewer come year impres...
2,65496e562042bfa2da026b56,the view the staff the ceviche and the fish ch...,the view the staff the and the fish chip were...,view staff fish chip year favorite place escap...,view staff fish chip year favorite place escap...,view staff fish chip year favorite place escap...,view staff fish chip year favorite place escap...
3,65496e562042bfa2da026b57,my brother in law love fish and chip we heard ...,my brother in law love fish and chip we that ...,brother law love fish chip treasure island are...,brother law love fish chip treasure island are...,brother law love fish chip treasure island are...,brother law love fish chip treasure island are...
4,65496e562042bfa2da026b58,the food is always great i always start with t...,the food is always great i always start with t...,food great start chowder rest menu delicious p...,food great start chowder rest menu delicious p...,food great start chowder rest menu delicious p...,food great start chowder rest menu delicious g...
...,...,...,...,...,...,...,...
3412,65496e5b2042bfa2da0278af,if your looking for great food the best servic...,if your looking for great food the best servic...,great food service great bartender restaurant ...,great food service great bartender restaurant ...,great food service great bartender restaurant ...,great food service great bartender restaurant ...
3413,65496e5b2042bfa2da0278b0,if you come alone you won t feel alone for ver...,if you come alone you won t feel alone for ver...,feel long great place feel local great salmon ...,feel long great place feel local great salmon ...,feel long great place feel local great salmon ...,feel great place feel local great salmon amazi...
3414,65496e5b2042bfa2da0278b1,rather than spend an hour in grid lock of the ...,rather than spend an hour in grid lock of the ...,spend hour grid lock main drag weekend street ...,spend hour grid lock main drag weekend street ...,spend hour grid lock main drag weekend street ...,spend hour grid lock main drag weekend street ...
3415,65496e5b2042bfa2da0278b2,good solid old school mexican food at a very f...,good solid old school food at a very fair pri...,good solid school food fair price good enchila...,good solid school food fair price good enchila...,good solid school food fair price good enchila...,good solid school food fair price good enchila...
3416,65496e5b2042bfa2da0278b3,best mexican food in marin lot of american foo...,best food in lot of food choice too best lu...,food lot food choice lunch dinner menu bar hap...,food lot food choice lunch dinner menu bar hap...,food lot food choice lunch dinner menu bar hap...,food lot food choice lunch dinner menu bar hap...

In [3]:
df.drop(columns=['review', 'lem_review', 'sw_review', 'mod_review', 'new_review'], inplace=True)
df.rename(columns={'new_lem_review': 'review'}, inplace=True)

In [4]:
df.review.isna().sum()

4

In [5]:
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df

,_id,review
0,65496e562042bfa2da026b54,live bay area year regret find place treasure ...
1,65496e562042bfa2da026b55,long time diner time reviewer come year impres...
2,65496e562042bfa2da026b56,view staff fish chip year favorite place escap...
3,65496e562042bfa2da026b57,brother law love fish chip treasure island are...
4,65496e562042bfa2da026b58,food great start chowder rest menu delicious g...
...,...,...
3408,65496e5b2042bfa2da0278af,great food service great bartender restaurant ...
3409,65496e5b2042bfa2da0278b0,feel great place feel local great salmon amazi...
3410,65496e5b2042bfa2da0278b1,spend hour grid lock main drag weekend street ...
3411,65496e5b2042bfa2da0278b2,good solid school food fair price good enchila...
3412,65496e5b2042bfa2da0278b3,food lot food choice lunch dinner menu bar hap...

In [6]:
custom_stopwords = ['excellent', 'outstanding', 'superb', 'fantastic', 'terrific', 'marvelous', 'wonderful',
                    'exceptional', 'admirable', 'splendid', 'poor', 'inferior', 'subpar', 'mediocre', 'lousy',
                    'terrible', 'awful', 'horrible', 'abysmal', 'dismal', 'overwhelming', 'exemplary',
                    'extraordinary', 'remarkable', 'unparalleled', 'exceptional', 'unsurpassed', 'superlative',
                    'peerless', 'incomparable', 'atrocious', 'dreadful', 'deplorable', 'appalling', 'catastrophic',
                    'abominable', 'monstrous', 'detestable', 'reprehensible', 'unbearable', 'good', 'bad', 'great',
                    'eatery', 'diner', 'bistro', 'cafe', 'brasserie', 'tavern', 'cafeteria', 'grill', 'pub',
                    'trattoria', 'location', 'spot', 'venue', 'area', 'site', 'locale', 'setting', 'region',
                    'space', 'position', 'restaurant', 'place', 'sommeli', 'cha', 'second', 'minute', 'hour', 'day', 'week',
                    'fortnight', 'month', 'year', 'decade', 'century', 'millennium', 'moment', 'quarter', 'half',
                    'nighttime', 'midnight', 'noon', 'future', 'era', 'epoch', 'age', 'period', 'interval', 'schedule',
                    'calendar', 'clock', 'watch', 'stopwatch', 'timer', 'chronometer', 'timepiece', 'o\'clock', 'a.m.',
                    'p.m.', 'yesterday', 'today', 'tomorrow', 'dawn', 'dusk', 'zone', 'daylight', 'lunar', 'solar',
                    'calendar', 'leap', 'gregorian', 'julian', 'sidereal', 'equinox', 'solstice', 'century', 'millennium', 'san']


df['review'] = df['review'].apply(lambda x: ' '.join([word for word in x.split() if word not in custom_stopwords]))
df

,_id,review
0,65496e562042bfa2da026b54,live bay regret find treasure island unique vi...
1,65496e562042bfa2da026b55,long time time reviewer come impress fish chip...
2,65496e562042bfa2da026b56,view staff fish chip favorite escape city enjo...
3,65496e562042bfa2da026b57,brother law love fish chip treasure island rum...
4,65496e562042bfa2da026b58,food start chowder rest menu delicious enjoy a...
...,...,...
3408,65496e5b2042bfa2da0278af,food service bartender burrito margarita famil...
3409,65496e5b2042bfa2da0278b0,feel feel local salmon amazing prawn choose ha...
3410,65496e5b2042bfa2da0278b1,spend grid lock main drag weekend street inter...
3411,65496e5b2042bfa2da0278b2,solid school food fair price enchilada inspire...
3412,65496e5b2042bfa2da0278b3,food lot food choice lunch dinner menu bar hap...

In [7]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/salimkilinc/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [8]:
from gensim.models import LdaModel
from gensim import corpora
from gensim.models import CoherenceModel
from nltk.tokenize import word_tokenize
import pandas as pd

# Load your data
# Assuming df is your DataFrame containing the 'review' column
# ...

# Topic modeling
documents = df['review'].values.tolist()

tokenized_documents = [word_tokenize(doc.lower()) for doc in documents]

dictionary = corpora.Dictionary(tokenized_documents)

corpus = [dictionary.doc2bow(doc) for doc in tokenized_documents]

# Find the optimal number of topics and other parameters using GridSearch
def find_best_lda_model(dictionary, corpus, texts, num_topics_range, alpha_range, beta_range, passes=15):
    best_model = None
    best_coherence = -1

    for num_topics in num_topics_range:
        for alpha in alpha_range:
            for beta in beta_range:
                model = LdaModel(corpus, num_topics=num_topics, id2word=dictionary, passes=passes, alpha=alpha, eta=beta)
                coherence_model = CoherenceModel(model=model, texts=texts, dictionary=dictionary, coherence='c_v')
                coherence = coherence_model.get_coherence()

                if coherence > best_coherence:
                    best_coherence = coherence
                    best_model = model

    return best_model, best_coherence

# Set the ranges for parameters
num_topics_range = [2, 4, 6, 8, 10]
alpha_range = ['auto', 0.01, 0.1, 1.0]
beta_range = ['auto', 0.01, 0.1, 1.0]

best_lda_model, optimal_coherence = find_best_lda_model(dictionary, corpus, tokenized_documents, num_topics_range, alpha_range, beta_range)

# Display the optimal number of topics and coherence score
print(f"Optimal Number of Topics: {best_lda_model.num_topics}")
print(f"Optimal Coherence Score: {optimal_coherence}")

# Display topics and their keywords
for idx, topic in best_lda_model.print_topics(-1):
    print(f'Topic #{idx}: {topic}')

# Topic assignment
df['topic_num'] = -1  # Initialize the 'topic_num' column with -1

# Loop through each row in the DataFrame
for i, row in df.iterrows():
    review = row['review']
    tokenized_review = [word.lower() for word in word_tokenize(review)]
    
    # Get the topic distribution for the document
    topic_distribution = best_lda_model.get_document_topics(dictionary.doc2bow(tokenized_review))
    
    # Get the index of the topic with the highest probability
    best_matching_topic = max(topic_distribution, key=lambda x: x[1])[0]
    
    # Update the 'topic_num' column
    df.at[i, 'topic_num'] = best_matching_topic

Optimal Number of Topics: 8
Optimal Coherence Score: 0.5061044431542087
Topic #0: 0.010*"sauce" + 0.008*"dish" + 0.008*"flavor" + 0.007*"chicken" + 0.007*"order" + 0.006*"fry" + 0.006*"noodle" + 0.005*"salad" + 0.005*"rice" + 0.005*"shrimp"
Topic #1: 0.035*"food" + 0.023*"service" + 0.013*"time" + 0.011*"order" + 0.011*"table" + 0.011*"staff" + 0.010*"delicious" + 0.009*"nice" + 0.009*"menu" + 0.009*"meal"
Topic #2: 0.040*"breakfast" + 0.017*"egg" + 0.010*"toast" + 0.010*"coffee" + 0.008*"pancake" + 0.007*"bacon" + 0.005*"benedict" + 0.005*"morning" + 0.004*"brunch" + 0.004*"omelette"
Topic #3: 0.001*"baseball" + 0.001*"poem" + 0.001*"cap" + 0.001*"tart" + 0.001*"atelier" + 0.001*"bourbon" + 0.001*"secret" + 0.001*"circle" + 0.001*"mein" + 0.001*"chow"
Topic #4: 0.002*"culinary" + 0.002*"mona" + 0.001*"art" + 0.001*"hospitality" + 0.001*"atelier" + 0.001*"note" + 0.001*"rain" + 0.001*"restriction" + 0.001*"gump" + 0.001*"gluten"
Topic #5: 0.010*"pizza" + 0.003*"crust" + 0.001*"disgusting" + 0.001*"pepperoni" + 0.001*"bike" + 0.001*"cardboard" + 0.001*"bye" + 0.001*"oven" + 0.001*"reluctant" + 0.001*"tasteless"
Topic #6: 0.019*"hear" + 0.018*"review" + 0.014*"hope" + 0.013*"experience" + 0.009*"guest" + 0.008*"time" + 0.007*"happy" + 0.007*"visit" + 0.007*"feedback" + 0.006*"team"
Topic #7: 0.012*"dim" + 0.012*"sum" + 0.003*"rude" + 0.002*"cart" + 0.002*"sam" + 0.002*"dumple" + 0.002*"clean" + 0.002*"event" + 0.001*"money" + 0.001*"yank"

In [9]:
df

,_id,review,topic_num
0,65496e562042bfa2da026b54,live bay regret find treasure island unique vi...,1
1,65496e562042bfa2da026b55,long time time reviewer come impress fish chip...,1
2,65496e562042bfa2da026b56,view staff fish chip favorite escape city enjo...,1
3,65496e562042bfa2da026b57,brother law love fish chip treasure island rum...,0
4,65496e562042bfa2da026b58,food start chowder rest menu delicious enjoy a...,1
...,...,...,...
3408,65496e5b2042bfa2da0278af,food service bartender burrito margarita famil...,1
3409,65496e5b2042bfa2da0278b0,feel feel local salmon amazing prawn choose ha...,1
3410,65496e5b2042bfa2da0278b1,spend grid lock main drag weekend street inter...,1
3411,65496e5b2042bfa2da0278b2,solid school food fair price enchilada inspire...,1
3412,65496e5b2042bfa2da0278b3,food lot food choice lunch dinner menu bar hap...,1

In [10]:
df.topic_num.value_counts()

1    2980
6     200
0     151
2      48
7      18
4       7
5       7
3       2
Name: topic_num, dtype: int64

In [11]:
topic_labels = {
    0: 'Asian Cuisine',
    1: 'Restaurant Experience',
    2: 'Breakfast Delights',
    3: 'Miscellaneous/Unrelated',
    4: 'Culinary Arts and Restrictions',
    5: 'Pizza Quality',
    6: 'Customer Feedback',
    7: 'Dim Sum Experience'
}

df['topic'] = df['topic_num'].map(topic_labels)
df

,_id,review,topic_num,topic
0,65496e562042bfa2da026b54,live bay regret find treasure island unique vi...,1,Restaurant Experience
1,65496e562042bfa2da026b55,long time time reviewer come impress fish chip...,1,Restaurant Experience
2,65496e562042bfa2da026b56,view staff fish chip favorite escape city enjo...,1,Restaurant Experience
3,65496e562042bfa2da026b57,brother law love fish chip treasure island rum...,0,Asian Cuisine
4,65496e562042bfa2da026b58,food start chowder rest menu delicious enjoy a...,1,Restaurant Experience
...,...,...,...,...
3408,65496e5b2042bfa2da0278af,food service bartender burrito margarita famil...,1,Restaurant Experience
3409,65496e5b2042bfa2da0278b0,feel feel local salmon amazing prawn choose ha...,1,Restaurant Experience
3410,65496e5b2042bfa2da0278b1,spend grid lock main drag weekend street inter...,1,Restaurant Experience
3411,65496e5b2042bfa2da0278b2,solid school food fair price enchilada inspire...,1,Restaurant Experience
3412,65496e5b2042bfa2da0278b3,food lot food choice lunch dinner menu bar hap...,1,Restaurant Experience

In [12]:
df.sample(10)

,_id,review,topic_num,topic
1141,65496e592042bfa2da026fd0,food staff friendly attentive recommend want c...,1,Restaurant Experience
2221,65496e5a2042bfa2da02740c,night dinner hotel delicious wait staff friend...,1,Restaurant Experience
1449,65496e592042bfa2da027105,dinner cocktail frequent flyer super balanced ...,1,Restaurant Experience
280,65496e562042bfa2da026c6d,food amazing dish fresh delicious special sala...,1,Restaurant Experience
989,65496e562042bfa2da026f38,quality food professionalism service book retu...,1,Restaurant Experience
130,65496e562042bfa2da026bd6,meat service efficient fast meat entertain fry,1,Restaurant Experience
2343,65496e5a2042bfa2da027486,review food service experience covid time hote...,1,Restaurant Experience
3049,65496e5b2042bfa2da027748,chip dip plate drink trio service food cool at...,1,Restaurant Experience
1419,65496e592042bfa2da0270e6,staple water table amazing view bay sit incred...,1,Restaurant Experience
3276,65496e5b2042bfa2da02782b,group family friend celebrate birthday agree c...,1,Restaurant Experience

In [13]:
# Split the data into training and test sets
train_size = int(0.8 * len(df))
train_data = df[:train_size]
test_data = df[train_size:]

# Tokenize the test set
test_documents = test_data['review'].values.tolist()
tokenized_test_documents = [word_tokenize(doc.lower()) for doc in test_documents]
corpus_test = [dictionary.doc2bow(doc) for doc in tokenized_test_documents]

# Evaluate perplexity on the test set
perplexity = best_lda_model.log_perplexity(corpus_test)
print(f"Perplexity on the test set: {perplexity}")

Perplexity on the test set: -8.023083204746976